@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    @apply bg-[#202737];
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
  }
  
  #root {
    height: 100%;
  }

